html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.0;
	word-wrap: break-word;
	overflow-x: hidden;
	background-color: #FFFFFF;
}

u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-weight: normal;
	text-indent: 0;
	letter-spacing: 0;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

a {
	-moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	color: inherit;
	text-decoration: underline;
}

s {
	text-decoration: line-through;
}

html {
	font-size: 16pt;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	z-index: 2;
	overflow: hidden;
	padding: 2rem 2rem 2rem 2rem;
}

#main {
	display: flex;
	position: relative;
	max-width: 100%;
	z-index: 1;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	text-align: center;
	background-color: #333333;
	box-shadow: 0rem 1.75rem 1.5rem 0rem rgba(0,0,0,0.251);
	border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
}

#main > .inner {
	position: relative;
	z-index: 1;
	border-radius: inherit;
	padding: 0rem 4rem;
	max-width: 100%;
	width: 28rem;
}

#main > .inner > header {
	margin-bottom: 0.5rem;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > footer {
	margin-top: 0.5rem;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main > .inner > * > * {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#main > .inner > * > :first-child {
	margin-top: 0 !important;
}

#main > .inner > * > :last-child {
	margin-bottom: 0 !important;
}

#main > .inner > .full {
	margin-left: calc(-4rem);
	width: calc(100% + 8rem + 0.4725px);
	max-width: calc(100% + 8rem + 0.4725px);
}

#main > .inner > .full:first-child {
	margin-top: 0rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > .full:last-child {
	margin-bottom: 0rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main > .inner > .full.screen {
	width: 100vw;
	max-width: 100vw;
	position: relative;
	border-radius: 0 !important;
	left: 50%;
	right: auto;
	margin-left: -50vw;
}

#main > .inner > * > .full {
	margin-left: calc(-4rem);
	width: calc(100% + 8rem + 0.4725px);
	max-width: calc(100% + 8rem + 0.4725px);
}

#main > .inner > * > .full.screen {
	width: 100vw;
	max-width: 100vw;
	position: relative;
	border-radius: 0 !important;
	left: 50%;
	right: auto;
	margin-left: -50vw;
}

#main > .inner > header > .full:first-child {
	margin-top: 0rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > footer > .full:last-child {
	margin-bottom: 0rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

body.is-instant #main, body.is-instant #main > .inner > *,body.is-instant #main > .inner > section > *  {
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body.is-instant:after {
	display: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

@-moz-keyframes loading-spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loading-spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes loading-spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loading-spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.deferred:before {
	content: '';
	display: block;
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -2rem 0 0 -2rem;
	animation: loading-spinner 1s infinite linear;
	transition: opacity 0.25s ease;
	transition-delay: 0.5s;
	opacity: 0;
	z-index: -1;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNmZmY7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3rem;
}

.deferred.loading:before {
	opacity: 0.35;
	z-index: 0;
}

#header {
	margin-bottom: 0rem !important;
}

#footer {
	margin-top: 0rem !important;
}

hr {
	width: 100%;
	position: relative;
	padding: 0;
	border: 0;
}

hr:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
}

hr.style1:not(:first-child) {
	margin-top: 0rem !important;
}

hr.style1:not(:last-child) {
	margin-bottom: 0rem !important;
}

hr.style1:before {
	width: 100%;
	border-top: solid 1px transparent;
	height: 1px;
	margin-top: -0.5px;
}

.container {
	position: relative;
}

.container > .wrapper {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}

.container > .wrapper > .inner {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}

#main .container.full:first-child > .wrapper {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main .container.full:last-child > .wrapper {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main .container.full:first-child > .wrapper > .inner {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main .container.full:last-child > .wrapper > .inner {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.container.style3 > .wrapper > .inner {
	padding: 0rem 0rem;
}

.container.style3 {
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #333333;
	box-shadow: 0rem 1.75rem 1.5rem 0rem transparent;
	border-radius: 1rem;
}

.container.style3 > .wrapper {
	width: 100%;
	max-width: 28rem;
}

.container.style3.default > .wrapper > .inner > * {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.container.style3.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}

.container.style3.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}

.container.style3.columns > .wrapper > .inner {
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	display: flex;
	-moz-align-items: flex-start;
	-webkit-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

.container.style3.columns > .wrapper > .inner > * {
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	max-width: 100%;
	padding: 0 0 0 2rem;
}

.container.style3.columns > .wrapper > .inner > * > * {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.container.style3.columns > .wrapper > .inner > * > *:first-child {
	margin-top: 0 !important;
}

.container.style3.columns > .wrapper > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

.container.style3.columns > .wrapper > .inner > *:first-child {
	margin-left: -2rem;
}

.container.style3.default > .wrapper > .inner > .full {
	margin-left: calc(0rem);
	width: calc(100% + 0rem + 0.4725px);
	max-width: none;
}

.container.style3.default > .wrapper > .inner > .full:first-child {
	margin-top: 0rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.container.style3.default > .wrapper > .inner > .full:last-child {
	margin-bottom: 0rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.container.style3.columns > .wrapper > .inner > div > .full {
	margin-left: calc(-1rem);
	width: calc(100% + 2rem + 0.4725px);
	max-width: none;
}

.container.style3.columns > .wrapper > .inner > div:first-child > .full {
	margin-left: calc(0rem);
	width: calc(100% + 1rem + 0.4725px);
}

.container.style3.columns > .wrapper > .inner > div:last-child > .full {
	width: calc(100% + 1rem + 0.4725px);
}

.container.style3.columns > .wrapper > .inner > div > .full:first-child {
	margin-top: calc(0rem) !important;
}

.container.style3.columns > .wrapper > .inner > div > .full:last-child {
	margin-bottom: calc(0rem) !important;
}

.container.style3.columns > .wrapper > .inner > div:first-child, .container.style3.columns > .wrapper > .inner > div:first-child > .full:first-child {
	border-top-left-radius: inherit;
}

.container.style3.columns > .wrapper > .inner > div:last-child, .container.style3.columns > .wrapper > .inner > div:last-child > .full:first-child {
	border-top-right-radius: inherit;
}

.container.style3.columns > .wrapper > .inner > .full {
	align-self: stretch;
}

.container.style3.columns > .wrapper > .inner > .full:first-child {
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

.container.style3.columns > .wrapper > .inner > .full:last-child {
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
}

.container.style3.columns > .wrapper > .inner > .full > .full:first-child:last-child {
	height: calc(100% + 0rem);
	border-radius: inherit;
}

.container.style3.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.container.style3.columns > .wrapper > .inner > .full > .full:first-child:last-child > * > * {
	height: 100%;
	border-radius: inherit;
}

.container.style2:not(:first-child) {
	margin-top: 0rem !important;
}

.container.style2:not(:last-child) {
	margin-bottom: 0rem !important;
}

.container.style2 > .wrapper > .inner {
	padding: 0.5rem 1rem;
}

.container.style2 {
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #222222;
	border-style: solid;
	border-color: rgba(0,0,0,0.2);
	border-bottom-width: 2px;
	box-shadow: 0rem 1.5rem 6.5rem 0rem rgba(0,0,0,0.502);
}

.container.style2 > .wrapper {
	width: 100%;
	max-width: 28rem;
}

.container.style2.default > .wrapper > .inner > * {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.container.style2.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}

.container.style2.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}

.container.style2.columns > .wrapper > .inner {
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.container.style2.columns > .wrapper > .inner > * {
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	max-width: 100%;
	padding: 0 0 0 0rem;
}

.container.style2.columns > .wrapper > .inner > * > * {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.container.style2.columns > .wrapper > .inner > * > *:first-child {
	margin-top: 0 !important;
}

.container.style2.columns > .wrapper > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

.container.style2.columns > .wrapper > .inner > *:first-child {
	margin-left: 0rem;
}

.container.style2.default > .wrapper > .inner > .full {
	margin-left: calc(-1rem);
	width: calc(100% + 2rem + 0.4725px);
	max-width: none;
}

.container.style2.default > .wrapper > .inner > .full:first-child {
	margin-top: -0.5rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.container.style2.default > .wrapper > .inner > .full:last-child {
	margin-bottom: -0.5rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > div > .full {
	margin-left: calc(-0rem);
	width: calc(100% + 0rem + 0.4725px);
	max-width: none;
}

.container.style2.columns > .wrapper > .inner > div:first-child > .full {
	margin-left: calc(-1rem);
	width: calc(100% + 1rem + 0.4725px);
}

.container.style2.columns > .wrapper > .inner > div:last-child > .full {
	width: calc(100% + 1rem + 0.4725px);
}

.container.style2.columns > .wrapper > .inner > div > .full:first-child {
	margin-top: calc(-0.5rem) !important;
}

.container.style2.columns > .wrapper > .inner > div > .full:last-child {
	margin-bottom: calc(-0.5rem) !important;
}

.container.style2.columns > .wrapper > .inner > .full {
	align-self: stretch;
}

.container.style2.columns > .wrapper > .inner > .full:first-child {
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > .full:last-child {
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child {
	height: calc(100% + 1rem);
	border-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child > * > * {
	height: 100%;
	border-radius: inherit;
}

#container07 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container07 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container08 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container08 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container04 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container04 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container02 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container02 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container05 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container05 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container14 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container14 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container15 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container15 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container18 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container18 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container16 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container16 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container06 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container06 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container03 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container03 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container01 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container01 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container09 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container09 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container11 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container11 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container10 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container10 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

#container17 > .wrapper > .inner > :nth-child(1) {
	width: 25%;
	text-align: left;
}

#container17 > .wrapper > .inner > :nth-child(2) {
	width: 75%;
	text-align: right;
}

.image {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	display: block;
}

.image a, .image span {
	position: relative;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

.image a img, .image span img {
	display: block;
}

.image img {
	width: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

.image.full img {
	display: block;
}

.image.full:first-child img {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.image.full:last-child img {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.image.full a, .image.full span {
	display: block;
}

.image.style1 a, .image.style1 span {
	border-radius: 1rem;
}

.image.style1 img {
	max-width: 100%;
	width: 480px;
	border-radius: 1rem;
}

.image.style2:not(:first-child) {
	margin-top: 6rem !important;
}

.image.style2:not(:last-child) {
	margin-bottom: 6rem !important;
}

.image.style2 img {
	max-width: 100%;
	width: 125px;
	-moz-object-fit: cover;
	-webkit-object-fit: cover;
	-ms-object-fit: cover;
	object-fit: cover;
	-moz-object-position: left;
	-webkit-object-position: left;
	-ms-object-position: left;
	object-position: left;
}

h1 br + br, h2 br + br, h3 br + br, p br + br {
	display: block;
	content: ' ';
}

h1 .li, h2 .li, h3 .li, p .li {
	display: list-item;
	padding-left: 0.5em;
	margin: 0.75em 0 0 1em;
}

h1.style1, h2.style1, h3.style1, p.style1 br + br {
	margin-top: 0.75rem;
}

h1.style1, h2.style1, h3.style1, p.style1 {
	color: #FFFFFF;
	font-family: 'Barlow', sans-serif;
	font-size: 1.875em;
	line-height: 1.25;
	font-weight: 700;
}

h1.style1 a, h2.style1 a, h3.style1 a, p.style1 a {
	text-decoration: underline;
}

h1.style1 a:hover, h2.style1 a:hover, h3.style1 a:hover, p.style1 a:hover {
	text-decoration: none;
}

h1.style2, h2.style2, h3.style2, p.style2 br + br {
	margin-top: 0.6rem;
}

h1.style2, h2.style2, h3.style2, p.style2 {
	color: #CCCCCC;
	font-family: 'Exo 2', sans-serif;
	font-size: 0.875em;
	line-height: 1;
	font-weight: 400;
}

h1.style2 a, h2.style2 a, h3.style2 a, p.style2 a {
	text-decoration: underline;
}

h1.style2 a:hover, h2.style2 a:hover, h3.style2 a:hover, p.style2 a:hover {
	text-decoration: none;
}

.buttons {
	cursor: default;
	padding: 0;
	letter-spacing: 0;
}

.buttons li a {
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	max-width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	vertical-align: middle;
}

.buttons.style1 {
	width: calc(100% + 0rem);
	margin-left: -0rem;
}

.buttons.style1 li {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 0rem);
	margin: 0rem;
}

.buttons.style1 li a {
	display: flex;
	width: auto;
	height: 2.25rem;
	line-height: 2.25rem;
	vertical-align: middle;
	padding: 0 1.125rem;
	font-size: 0.875em;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	border-radius: 0rem;
	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}

.buttons.style1 li a svg {
	display: block;
	-moz-transition: fill 0.25s ease;
	-webkit-transition: fill 0.25s ease;
	-ms-transition: fill 0.25s ease;
	transition: fill 0.25s ease;
	width: 1em;
	min-width: 16px;
	height: 100%;
	fill: #FFFFFF;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	margin-right: calc(0.5em + 0rem);
	margin-left: -0.125em;
}

.buttons.style1 li a .label {
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	width: 100%;
	text-align: right;
}

.buttons.style1 .button {
	background-color: transparent;
	color: #FFFFFF;
}

@media (max-width: 1680px) {
	html {
		font-size: 12pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 12pt;
	}
}

@media (max-width: 980px) {
	html {
		font-size: 10pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 12pt;
	}
	
	#wrapper {
		padding: 2rem 2rem 2rem 2rem;
	}
	
	#main > .inner {
		padding: 0rem 2rem;
	}
	
	#main > .inner > header {
		margin-bottom: 0.5rem;
	}
	
	#main > .inner > footer {
		margin-top: 0.5rem;
	}
	
	#main > .inner > * > * {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	
	#main > .inner > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
		max-width: calc(100% + 4rem + 0.4725px);
	}
	
	#main > .inner > .full:first-child {
		margin-top: 0rem !important;
	}
	
	#main > .inner > .full:last-child {
		margin-bottom: 0rem !important;
	}
	
	#main > .inner > .full.screen {
		margin-left: -50vw;
	}
	
	#main > .inner > * > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
		max-width: calc(100% + 4rem + 0.4725px);
	}
	
	#main > .inner > * > .full.screen {
		margin-left: -50vw;
	}
	
	#main > .inner > header > .full:first-child {
		margin-top: 0rem !important;
	}
	
	#main > .inner > footer > .full:last-child {
		margin-bottom: 0rem !important;
	}
	
	#header {
		margin-bottom: 0rem !important;
	}
	
	#footer {
		margin-top: 0rem !important;
	}
	
	hr.style1:not(:first-child) {
		margin-top: 0rem !important;
	}
	
	hr.style1:not(:last-child) {
		margin-bottom: 0rem !important;
	}
	
	hr.style1:before {
		width: 100%;
	}
	
	.container.style3 > .wrapper > .inner {
		padding: 0rem 0rem;
	}
	
	.container.style3 > .wrapper {
		max-width: 100%;
	}
	
	.container.style3.default > .wrapper > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	.container.style3.columns > .wrapper > .inner {
		-moz-flex-direction: column !important;
		-webkit-flex-direction: column !important;
		-ms-flex-direction: column !important;
		flex-direction: column !important;
		-moz-flex-wrap: nowrap !important;
		-webkit-flex-wrap: nowrap !important;
		-ms-flex-wrap: nowrap !important;
		flex-wrap: nowrap !important;
	}
	
	.container.style3.columns > .wrapper > .inner > span {
		display: none;
	}
	
	.container.style3.columns > .wrapper > .inner > * > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	.container.style3.columns > .wrapper > .inner > * {
		padding: 1rem 0 !important;
	}
	
	.container.style3.columns > .wrapper > .inner > *:first-child {
		margin-left: 0 !important;
		padding-top: 0 !important;
	}
	
	.container.style3.columns > .wrapper > .inner > *:last-child {
		padding-bottom: 0 !important;
	}
	
	.container.style3.columns > .wrapper > .inner > div.after-spacer {
		padding-top: 0 !important;
	}
	
	.container.style3.columns > .wrapper > .inner > div.before-spacer {
		padding-bottom: 0 !important;
	}
	
	.container.style3.default > .wrapper > .inner > .full {
		margin-left: calc(0rem);
		width: calc(100% + 0rem + 0.4725px);
	}
	
	.container.style3.default > .wrapper > .inner > .full:first-child {
		margin-top: 0rem !important;
	}
	
	.container.style3.default > .wrapper > .inner > .full:last-child {
		margin-bottom: 0rem !important;
	}
	
	.container.style3.columns > .wrapper > .inner > div > .full {
		margin-left: calc(0rem);
		width: calc(100% + 0rem + 0.4725px);
	}
	
	.container.style3.columns > .wrapper > .inner > div:first-of-type > .full {
		margin-left: calc(0rem);
		width: calc(100% + 0rem + 0.4725px);
	}
	
	.container.style3.columns > .wrapper > .inner > div:last-of-type > .full {
		margin-left: calc(0rem);
		width: calc(100% + 0rem + 0.4725px);
	}
	
	.container.style3.columns > .wrapper > .inner > div > .full:first-child {
		margin-top: -1rem !important;
	}
	
	.container.style3.columns > .wrapper > .inner > div > .full:last-child {
		margin-bottom: -1rem !important;
	}
	
	.container.style3.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		margin-top: calc(0rem) !important;
	}
	
	.container.style3.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		margin-bottom: calc(0rem) !important;
	}
	
	.container.style3.columns > .wrapper > .inner > div:first-of-type, .container.style3.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
	}
	
	.container.style3.columns > .wrapper > .inner > div:last-of-type, .container.style3.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	
	.container.style3.columns > .wrapper > .inner > div:first-of-type, .container.style3.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
		border-bottom-left-radius: 0 !important;
	}
	
	.container.style3.columns > .wrapper > .inner > div:last-of-type, .container.style3.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
		border-top-right-radius: 0 !important;
	}
	
	.container.style3.columns > .wrapper > .inner > .full > .full:first-child:last-child {
		height: auto;
	}
	
	.container.style3.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
		position: relative;
		width: 100%;
		height: auto;
	}
	
	.container.style3.columns > .wrapper > .inner > .full > .full:first-child:last-child > * > * {
		height: auto;
	}
	
	.container.style3.columns > .wrapper > .inner > .full > .full:first-child:last-child > * > iframe {
		height: 100%;
	}
	
	.container.style2:not(:first-child) {
		margin-top: 0rem !important;
	}
	
	.container.style2:not(:last-child) {
		margin-bottom: 0rem !important;
	}
	
	.container.style2 > .wrapper > .inner {
		padding: 0.5rem 1rem;
	}
	
	.container.style2 > .wrapper {
		max-width: 100%;
	}
	
	.container.style2.default > .wrapper > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	.container.style2.columns > .wrapper > .inner > * > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	.container.style2.columns > .wrapper > .inner > * {
		padding: 0 0 0 0rem;
	}
	
	.container.style2.columns > .wrapper > .inner > *:first-child {
		margin-left: 0rem;
	}
	
	.container.style2.default > .wrapper > .inner > .full {
		margin-left: calc(-1rem);
		width: calc(100% + 2rem + 0.4725px);
	}
	
	.container.style2.default > .wrapper > .inner > .full:first-child {
		margin-top: -0.5rem !important;
	}
	
	.container.style2.default > .wrapper > .inner > .full:last-child {
		margin-bottom: -0.5rem !important;
	}
	
	.container.style2.columns > .wrapper > .inner > div > .full {
		margin-left: calc(-0rem);
		width: calc(100% + 0rem + 0.4725px);
	}
	
	.container.style2.columns > .wrapper > .inner > div:first-child > .full {
		margin-left: calc(-1rem);
		width: calc(100% + 1rem + 0.4725px);
	}
	
	.container.style2.columns > .wrapper > .inner > div:last-child > .full {
		width: calc(100% + 1rem + 0.4725px);
	}
	
	.container.style2.columns > .wrapper > .inner > div > .full:first-child {
		margin-top: calc(-0.5rem) !important;
	}
	
	.container.style2.columns > .wrapper > .inner > div > .full:last-child {
		margin-bottom: calc(-0.5rem) !important;
	}
	
	.container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child {
		height: calc(100% + 1rem);
	}
	
	#container07 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container07 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container08 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container08 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container04 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container04 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container02 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container02 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container05 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container05 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container14 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container14 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container15 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container15 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container18 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container18 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container16 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container16 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container06 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container06 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container03 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container03 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container01 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container01 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container09 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container09 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container11 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container11 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container10 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container10 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	#container17 > .wrapper > .inner > :nth-child(1) {
		width: 25%;
	}
	
	#container17 > .wrapper > .inner > :nth-child(2) {
		width: 75%;
	}
	
	.image.style2:not(:first-child) {
		margin-top: 2.625rem !important;
	}
	
	.image.style2:not(:last-child) {
		margin-bottom: 2.625rem !important;
	}
	
	.image.style2 img {
		-moz-object-fit: cover;
		-webkit-object-fit: cover;
		-ms-object-fit: cover;
		object-fit: cover;
		-moz-object-position: left;
		-webkit-object-position: left;
		-ms-object-position: left;
		object-position: left;
	}
	
	h1.style1, h2.style1, h3.style1, p.style1 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1.875em;
		line-height: 1.25;
	}
	
	h1.style2, h2.style2, h3.style2, p.style2 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 0.875em;
		line-height: 1;
	}
	
	.buttons.style1 li a {
		font-size: 0.875em;
	}
	
	#embed10 > a {
		display: none
		/*bottom: 75%!important;
		right: auto!important;
		left: auto!important;
		width: 30%!important;
		position: absolute!important;
		z-index: 1!important;
		display: block;
		margin: 0;
		left: 50%;
		transform: translate(-50%, 0%);
	}
	#embed10 {
		position: relative;
		padding-left: 50%;*/
	}
}

@media (max-width: 480px) {
	#wrapper {
		padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	}
	
	#main > .inner > header {
		margin-bottom: 0.4375rem;
	}
	
	#main > .inner > footer {
		margin-top: 0.4375rem;
	}
	
	#main > .inner > * > * {
		margin-top: 0.4375rem;
		margin-bottom: 0.4375rem;
	}
	
	.container.style3.default > .wrapper > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	.container.style3.columns > .wrapper > .inner > * > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	.container.style2.default > .wrapper > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	.container.style2.columns > .wrapper > .inner > * > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
}

@media (max-width: 360px) {
	#wrapper {
		padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	}
	
	#main > .inner {
		padding: 0rem 1.5rem;
	}
	
	#main > .inner > header {
		margin-bottom: 0.375rem;
	}
	
	#main > .inner > footer {
		margin-top: 0.375rem;
	}
	
	#main > .inner > * > * {
		margin-top: 0.375rem;
		margin-bottom: 0.375rem;
	}
	
	#main > .inner > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
		max-width: calc(100% + 3rem + 0.4725px);
	}
	
	#main > .inner > .full:first-child {
		margin-top: -0rem !important;
	}
	
	#main > .inner > .full:last-child {
		margin-bottom: -0rem !important;
	}
	
	#main > .inner > .full.screen {
		margin-left: -50vw;
	}
	
	#main > .inner > * > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
		max-width: calc(100% + 3rem + 0.4725px);
	}
	
	#main > .inner > * > .full.screen {
		margin-left: -50vw;
	}
	
	#main > .inner > header > .full:first-child {
		margin-top: -0rem !important;
	}
	
	#main > .inner > footer > .full:last-child {
		margin-bottom: -0rem !important;
	}
	
	.container.style3 > .wrapper > .inner {
		padding: 0rem 0rem;
	}
	
	.container.style3.default > .wrapper > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	.container.style3.columns > .wrapper > .inner > * > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	.container.style3.default > .wrapper > .inner > .full {
		margin-left: calc(-0rem);
		width: calc(100% + 0rem + 0.4725px);
	}
	
	.container.style3.default > .wrapper > .inner > .full:first-child {
		margin-top: -0rem !important;
	}
	
	.container.style3.default > .wrapper > .inner > .full:last-child {
		margin-bottom: -0rem !important;
	}
	
	.container.style3.columns > .wrapper > .inner > div > .full {
		margin-left: calc(-0rem);
		width: calc(100% + 0rem + 0.4725px);
	}
	
	.container.style3.columns > .wrapper > .inner > div:first-of-type > .full {
		margin-left: calc(-0rem);
		width: calc(100% + 0rem + 0.4725px);
	}
	
	.container.style3.columns > .wrapper > .inner > div:last-of-type > .full {
		margin-left: calc(-0rem);
		width: calc(100% + 0rem + 0.4725px);
	}
	
	.container.style3.columns > .wrapper > .inner > div > .full:first-child {
		margin-top: -1rem !important;
	}
	
	.container.style3.columns > .wrapper > .inner > div > .full:last-child {
		margin-bottom: -1rem !important;
	}
	
	.container.style3.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		margin-top: calc(-0rem) !important;
	}
	
	.container.style3.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		margin-bottom: calc(-0rem) !important;
	}
	
	.container.style2 > .wrapper > .inner {
		padding: 0.375rem 0.75rem;
	}
	
	.container.style2.default > .wrapper > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	.container.style2.columns > .wrapper > .inner > * > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	.container.style2.default > .wrapper > .inner > .full {
		margin-left: calc(-0.75rem);
		width: calc(100% + 1.5rem + 0.4725px);
	}
	
	.container.style2.default > .wrapper > .inner > .full:first-child {
		margin-top: -0.375rem !important;
	}
	
	.container.style2.default > .wrapper > .inner > .full:last-child {
		margin-bottom: -0.375rem !important;
	}
	
	.container.style2.columns > .wrapper > .inner > div > .full {
		margin-left: calc(-0rem);
		width: calc(100% + 0rem + 0.4725px);
	}
	
	.container.style2.columns > .wrapper > .inner > div:first-child > .full {
		margin-left: calc(-0.75rem);
		width: calc(100% + 0.75rem + 0.4725px);
	}
	
	.container.style2.columns > .wrapper > .inner > div:last-child > .full {
		width: calc(100% + 0.75rem + 0.4725px);
	}
	
	.container.style2.columns > .wrapper > .inner > div > .full:first-child {
		margin-top: calc(-0.375rem) !important;
	}
	
	.container.style2.columns > .wrapper > .inner > div > .full:last-child {
		margin-bottom: calc(-0.375rem) !important;
	}
	
	.container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child {
		height: calc(100% + 0.75rem);
	}
	
	h1.style1, h2.style1, h3.style1, p.style1 {
		font-size: 1.5em;
	}
	
	h1.style2, h2.style2, h3.style2, p.style2 {
		font-size: 0.875em;
	}
	
	.buttons.style1 {
		width: calc(100% + 0rem);
		margin-left: -0rem;
	}
	
	.buttons.style1 li {
		max-width: calc(100% - 0rem);
		margin: 0rem;
	}
}
