/*Transparent IFRAME bg*/
body {
  background: transparent!important;
}
/*Outlink Hover*/
.container.style2 {
  position: relative;
  transition: background-color 0.2s;
}
.container.style2:hover {
  background-color: #1c1c1c;
  transition: background-color 0.2s;
}
/*Song Previews*/
.container.style3:hover {
  box-shadow: 0.8rem 0.5rem 2.5rem #0008;
  filter: drop-shadow(-1.5rem -1rem 3rem #fff2)!important;
  cursor: pointer;
  transition: box-shadow 0.5s, filter 0.5s;
}
.container.style3 {
  transition: box-shadow 0.5s, filter 0.5s;
  cursor: pointer;
}
.container.style3 .wrapper .inner:hover .artHover {
  opacity: 1;
  transition-duration: 0.25s;
  cursor: pointer;
}
.artHover {
  opacity: 0;
  transition: opacity ease 1s;
  border-radius: 1rem;
}
.artHover, .artHover:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  cursor: pointer;
}
.artHover:before {
  display: block;
  content: "";
  opacity: 0.6;
  background: linear-gradient(180deg, #111, #080808);
}
.playHover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  transform-origin: center;
  opacity: 0;
  transition: opacity ease 0.25s;
  cursor: pointer;
}
.container.style3 .wrapper .inner:hover .playHover {
  opacity: 1;
  transition-duration: 0.25s;
  filter: drop-shadow(2px 2px 12px #0008);
  cursor: pointer;
}
.playHover svg {
  width: 33%;
  height: 33%;
}
div.play.disabled, div.pause.disabled {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
}

/* Custom Scrollbars */
/* Firefox */
* {
  scrollbar-color: #0004 #0000;
  scrollbar-width: thin;
}
/* Chrome/Chromium/Safari */
*::-webkit-scrollbar, 
*::-webkit-scrollbar-thumb {
  width: 28px;
  border-radius: 28px;
  background-clip: padding-box;
  border: 10px solid transparent;
}
*::-webkit-scrollbar-thumb { 
  box-shadow: inset 0 0 0 10px;
  transition: color .3s ease;
}
body:hover, *::-webkit-scrollbar-thumb:hover {
  color: rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb:active {
  color: rgba(0, 0, 0, 0.4);
}
body {
  overflow: auto;
  color: #0000;
  transition: color .3s ease;
}
